html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

#root {
  height: 100%;
  width: 100%;
}

.App__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #ddd;
  text-align: center;
  padding: 7px;
}
